/** @format */

.faq {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.faq > h2 {
  font-size: 50px;
  font-weight: 900;
  color: var(--color-text2);
  font-family: var(--font-fair);
}

.divs {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.extra {
  background-color: var(--color-primary);
  box-shadow: 0px 2px 7px 0px hsl(0, 0%, 0%, 0.04);
  padding: 14px 38px;
  border-radius: 18px;
  width: 680px;
  cursor: pointer;
  /* transition: border 0.3s ease-in-out; */
}

.extra.active {
  border: 2px solid var(--color-bg);
}

.extra p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-source);
  color: var(--color-text3);
}

.div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.div span {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-source);
}

.svg {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;

  box-shadow: 0px 2px 7px 0px hsl(0, 0%, 0%, 0.04);
}

.rotate {
  transform: rotate(90deg);
  background-color: var(--color-bg);
}

@media only screen and (max-width: 768px) {
  .faq {
    margin-top: 200px;
  }
  .faq > h2 {
    font-size: 20px;
  }

  .extra {
    width: 250px;
  }

  .extra p {
    font-size: 16px;
  }
  .divs {
    align-items: center;
  }

  .div span {
    font-size: 16px;
  }

  .svg {
    width: 22px;
    height: 22px;
  }

  .svg svg {
    width: 5px;
  }
}
