/** @format */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

.testimonialSection {
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
  overflow-x: visible;
}

.heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 50px;
  color: #233e81;
  margin-bottom: 40px;
}

.testimonialContainer {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.testimonialCard {
  background-color: #233e81;
  border-radius: 16px;
  /* padding: 24px; */
  /* width: 485px; */
  /* height: 212px; */
  /* display: flex; */
  /* justify-content: center; */
  color: #ffffff;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 10px;
  /* border: 1px solid #ffffff; */
}

.cardContent {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background: url("../../../assets/quote-icon.svg") no-repeat;
  /* background-size: 80px; */
  background-position-x: left;
  background-position-y: top;
  height: 212px;
}

/* .testimonialCard:nth-child(2) .cardContent {
  background-position-x: 5px;
  background-position-y: top;
  padding-right: 90px;
}

.testimonialCard:nth-child(2) .cardContent .quoteText {
  padding-left: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.quoteText {
  font-family: "Source Sans 3";
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  width: 339px;
  display: flex;
  justify-content: center;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .heading {
    font-size: 28px; /* Reduce heading size for mobile */
    margin-bottom: 20px;
    padding-top: 270px;
    text-align: left;
    margin-left: 30px;
  }

  .testimonialContainer {
    display: flex;
    justify-content: center;
    gap: 0; /* No gap since only one card is visible */
    padding-top: 10px;
    padding-bottom: 25px;
  }

  .testimonialCard {
    width: 75%; /* Fit card to mobile screen */
    height: 130px; /* Allow height to adjust based on content */
  }

  /* Show only the first card, hide the others */
  .testimonialCard:not(:first-child) {
    display: none;
  }

  .cardContent {
    background-size: 90px; /* Slightly reduce quote icon size for mobile */
    background-position-x: left; /* Adjust position for smaller card */
    background-position-y: top;
  }

  .quoteText {
    font-size: 17px; /* Slightly reduce text size for mobile */
    line-height: 120%;
    font-weight: 600;
    letter-spacing: 2%;
    font-family: "Source Sans 3";
    padding: 0 20px;
    text-align: left;
  }
}
