/** @format */

.bg1 {
  background: url("../../assets/bg1.png") no-repeat;
  background-position-x: right;
  background-position-y: 1000px;
  background-size: contain;
}

.bg2 {
  background: url("../../assets/bg2.png") no-repeat;
  background-position-x: right;
  background-position-y: 3800px;
  background-size: 785px;
}

.service {
  background: url("../../assets/bg1.png") no-repeat;
  background-position-x: left;
  background-position-y: -197px;

  background-size: 600px;

  display: flex;
  flex-direction: column;
  gap: 110px;
  margin-top: 165px;
}

.texts {
  text-align: center;
}

.texts label {
  color: var(--color-bg);
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-source);
}

.texts h2 {
  margin: 0;
  margin-top: 10px;
  font-family: var(--font-fair);
  color: var(--color-text2);
  font-size: 50px;
  font-weight: 900;
}

.texts p {
  margin: 0;
  margin-top: 7px;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-source);
}

.details {
  display: flex;
  gap: 38px;
  align-items: center;
}
.details:nth-child(even) {
  padding: 0 0 0 100px;
}

.details:nth-child(odd) {
  flex-direction: row-reverse;
  padding: 0 100px 0 0;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 600;
  color: var(--color-text2);
  font-family: var(--font-fair);
}

.detail h2::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  width: 55px;
  border-radius: 4px;
  border: 4px solid var(--color-bg);
}

.detail p {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-source);
}

.detail span {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-fair);
  color: var(--color-text);
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.mark {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.mark span {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-source);
}

.h2 {
  text-align: center;
}

.h2 h2 {
  font-size: 50px;
  font-weight: 900;
  font-family: var(--font-fair);
  color: var(--color-text2);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.item {
  display: flex;
  flex: 1 1 48%;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-fair);
  color: var(--color-text);
}

.item:nth-child(odd) {
  justify-content: center;
}

.mark svg {
  flex-shrink: 0;
  height: auto;
  width: 18px;
}

@media only screen and (max-width: 768px) {
  .service {
    margin-top: 130px;
    background-repeat: space;
    /* background-position-y: 0; */
    background-position-x: center;
    background-size: contain;
  }
  .bg1,
  .bg2 {
    background: none;
  }

  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .texts label,
  .texts p {
    width: 290px;
    font-size: 16px;
  }

  .texts h2 {
    font-size: 20px;
  }

  .details {
    flex-direction: column-reverse;
    padding: 0 30px;
  }
  .details:nth-child(even) {
    padding: 0 30px;
  }

  .details:nth-child(odd) {
    padding: 0 30px;
    flex-direction: column-reverse;
  }

  .details img {
    width: 360px;
  }

  .detail h2,
  .detail p,
  .detail span {
    font-size: 16px;
  }

  .detail h2::before {
    top: 25px;
    border: 2px solid var(--color-bg);
  }
  .details:nth-of-type(7) .detail h2::before {
    top: 45px !important;
    border: 2px solid var(--color-bg);
  }

  .mark svg {
    width: 10px;
  }

  .h2 h2 {
    font-size: 20px;
  }

  .item {
    font-size: 16px;
    justify-content: center;
  }

  .item:nth-child(odd) {
    justify-content: flex-start;
    justify-content: center;
  }

  .container {
    flex-direction: column;
  }
  .details:nth-of-type(8) .detail h2 {
    font-size: 15px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1170px) {
  .details {
    padding: 0 0 0 50px;
  }

  .details:nth-child(even) {
    padding: 0 0 0 50px;
  }
}
