/** @format */

.bg {
  background: url("../../assets/bg1.png") no-repeat;
  background-position-x: left;
  background-position-y: top;
}

.bg2 {
  background: url("../../assets/bg2.png") no-repeat;
  background-position-x: right;
  background-position-y: 1130px;
  background-size: 620px;
}

@media only screen and (max-width: 768px) {
  .bg {
    background-repeat: space;
    background-size: contain;
    background-position-x: center;
  }

  .bg2 {
    background: none;
  }
}
