/** @format */

.advisory {
  margin-top: 130px;
  background: url("../../../assets/Home/Advisory/Advisory.png") no-repeat;
  background-size: cover;
  height: 830px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  gap: 16px;
  background-color: var(--color-primary);
  padding: 27px 50px;
  border-radius: 8px;
}

.div h2 {
  margin: 0;
  color: var(--color-text2);
  font-size: 48px;
  font-weight: 900;
  font-family: var(--font-source);
}

.div span {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-source);
  color: var(--color-text);
}

.div2 {
  background-color: var(--color-bg);
  padding: 18px 56px;
  border-radius: 8px;
  font-size: 18px;
  font-family: var(--font-source);
  font-weight: 600;
  color: var(--color-primary);
  cursor: pointer;
}

.div2 span {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 768px) {
  .advisory {
    background: url("../../../assets/Home/Advisory/advisory2.png");
    margin-top: 0;
    background-size: 100% 100%;
    align-items: center;
    min-height: 100vh;
  }

  .div {
    padding: 20px;
    margin-left: 0;
    margin-top: -255px;
  }

  .div h2 {
    font-size: 36px;
  }

  .div span {
    font-size: 16px;
  }

  .div2 span svg {
    width: 16px;
    height: 16px;
  }
}
