/** @format */

.blog {
  margin-top: 190px;
  background: url("../../assets/bg1.png") space;
  display: flex;
  flex-direction: column;
  gap: 158px;
  user-select: none;
  /* pointer-events: none; */
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texts label {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-bg);
  font-family: var(--font-source);
}

.texts h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 900;
  font-family: var(--font-fair);
  color: var(--color-text2);
  padding: 0 100px;
}

.texts img {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 100px;
  gap: 32px;
}

.container1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 7px hsla(0, 0%, 0%, 0.04);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid var(--color-bg);
}

.container1 > div {
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container1 img {
  /* width: 384px; */
}

.container1 > div > label {
  font-size: 14px;
  font-family: var(--font-source);
  color: var(--color-blog);
  font-weight: 600;
}

.h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.h3 h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text2);
  font-family: var(--font-fair);
  margin: 0;
  text-transform: capitalize;
}

svg {
  flex-shrink: 0;
}

.container1 > div > span {
  font-size: 16px;
  color: var(--color-blog-text);
  font-family: var(--font-source);
  font-weight: 400;
}

/*Detail Page*/

.detail {
  margin-top: 190px;
  background: url("../../assets/bg1.png") space;
  background-repeat: repeat-y;
  user-select: none;
}

.intro {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  gap: 16px;
  margin-top: 28px;
  font-size: 24px;
  font-family: var(--font-source);
  font-weight: 400;
  color: var(--color-text);
  padding: 0 100px;
}

.intro div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.admin {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  text-transform: uppercase;
  color: var(--color-text3);
  font-family: var(--font-source);
  font-weight: 600;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  color: var(--color-text);
  margin-top: 40px;
}

.help a {
  color: var(--color-text);
}

.help p {
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-source);
}

.help span {
  font-family: var(--font-source);
}

.button {
  margin-top: 50px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding: 0 50px;
}

.button button {
  background-color: white;
  border: 1px solid var(--color-bg);
  padding: 12px 24px;
  color: var(--color-bg);
  font-family: var(--font-source);
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .blog {
    background-size: 280px;
    margin-top: 120px;
  }

  .texts label {
    font-size: 16px;
  }

  .texts h2 {
    font-size: 20px;
    width: 280px;
    padding: 0;
  }

  .container {
    grid-template-columns: 1fr;
    padding: 0 30px;
  }

  .container1 img {
    width: 314px;
    margin: 0 auto;
  }

  .h3 h3 {
    font-size: 16px;
    width: 230px;
  }

  /*Detail*/
  .detail {
    margin-top: 125px;
    background-size: 400px;
  }

  .texts > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texts img {
    width: 360px;
  }

  .intro {
    padding: 0 30px;
    font-size: 16px;
  }

  .help {
    font-size: 12px;
  }

  .button {
    flex-direction: row;
  }

  .button button {
    padding: 8px 12px;
  }
}
