/** @format */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  margin: 0;
  padding: 0;
}

.svg2 {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

body::-webkit-scrollbar {
  display: none;
}
:root {
  /* Colours */
  --color-text: hsla(0, 0%, 17%, 1);
  --color-primary: hsla(0, 0%, 100%, 1);
  --color-text2: hsla(223, 57%, 32%, 1);
  --color-text3: hsla(245, 14%, 49%, 1);
  --color-bg: hsla(29, 43%, 52%, 1);
  --color-bg2: hsla(228, 100%, 99%, 1);
  --color-blog: hsla(258, 54%, 52%, 1);
  --color-blog-text: hsla(220, 13%, 46%, 1);

  /* Fonts */
  /* --font-inter: "Inter"; */
  --font-source: "Source Sans 3";
  --font-fair: "Playfair Display";
  /* --font-cormorant: "Cormorant"; */
}

a {
  text-decoration: none;
}

h4 {
  margin: 0;
}
